.header-detail {
  padding: 10px 0;
}

.section-details {
  display: flex;
  flex-direction: column;
}

.c-details {
  background-color: rgba(56, 55, 55, 0.616);
  color: #f1f1f1;
  padding-bottom: 50px;
}

.c-details-md {
  margin-right: 40px;
}

.c-button {
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
}

.btnStart {
  background-color: #ff7b00;
  border: none;
  color: #f1f1f1;
  font-weight: 700;
  padding: 10px 0;
}

.btnRtn {
  align-items: center;
  background-color: #ff7b00;
  border: none;
  border-radius: 20px;
  color: #f1f1f1;
  display: flex;
  font-weight: 700;
  gap: 5px;
  padding: 10px;
}

.btnRtn:hover {
  transform: translateX(-7px);
  transition: 0.5s;
}

.detail-opt {
  background-color: #ff7b00;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: fixed;
}

