.section-food, .section-drink, .section-details {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-food {
  background-image: url('../images/syd-wachs-epqNIYI6S7E-unsplash.png');
}

.section-drink {
  background-image: url('../images/jez-timms-J7J0oTps4Lo-unsplash.jpg');
}

.section-details {
  background-image: url('../images/katie-smith-uQs1802D0CQ-unsplash.jpg');
}

.section-profile, .section-explorer, .section-favorites {
  background-color: #ffe15c;
  height: 100vh;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-top: 7vh;
}

.cards-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  height: 100%;
  justify-content: center;
  padding: 30px 0 80px;
  padding: 3vh 0 100px;
}

.card-container {
  display: flex;
  justify-items: center;
}

.container-butt {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding-top: 50px;
}

.container-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding-top: 30px;
}

.container-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media ( min-width : 1500px ) {

  .section {
    height: 100vh;
  }
}
