.cards {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 12px 12px 2px 1px rgba(36, 36, 37, 0.2);
  cursor: pointer;
  font-size: 1.5rem;
  height: 254px;
  padding: 0;
  transition: all 0.32s;
  width: 190px;
}

.cards:hover {
  text-decoration: none;
  transform: scale(1.1);
  transition: 1s;
}

.img-card {
  display: none;
}

.card-container {
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  height: 100%;
  justify-content: center;
  transition: all 0.32s;
}

.card-container:hover {
  align-items: center;
  background-color: rgba(43, 42, 42, 0.616);
  border: 3px solid #ff792e;
  display: flex;
  height: 100%;
  justify-content: center;
}

.card-name {
  background-color: rgba(56, 55, 55, 0.616);
  color: white;
  font-weight: 700;
  padding: 5px 10px;
}


.card-container:hover .card-name {
  background: transparent;
  color: #ff792e;
}

