.selectedBtn {
  background-color: #ff7b00;
  border: none;
  border-radius: 45px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  color: #f1f1f1;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2.5px;
  outline: none;
  padding: 1.3em 3em;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  height: 100%;
  justify-content: center;
  padding: 100px 0;
}


.btn-profile {
  background-color: #f8f2f2;
  border: none;
  border-radius: 45px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  color: #242323;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2.5px;
  outline: none;
  padding: 1.3em 3em;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.btn-profile:hover {
  background-color: #eb5e28;
  box-shadow: 0 15px 20px rgba(66, 64, 62, 0.4);
  color: #f8f2f2;
  transform: translateY(-7px);
}

/* .btn-profile {
  background-color: #ff792e;
  border: none;
  border-radius: 5px;
  color: #f1f1f1;
  font-size: 1.4rem;
  padding: 5px 10px;
} */
