.containerDetailButtons {
  align-items: center;
  background-color: aliceblue;
  border-radius: 35px;
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 10px;
  width: 100%;
}

.btnStart {
  bottom: 0;
  position: fixed;
}

.btn-details {
  background: none;
  border: none;
  transition: all 0.32s;
}

.btn-details:hover {
  transform: translateY(-7px);
}

.img-detail {
  width: 1.8rem;
}
